@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: medium;
}

.header-grid {
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
    grid-template-rows: 1fr fit-content;
    background-color: #132c46;
    color: whitesmoke;
    height: min-content;
    font-family: 'Open sans', monospace;
    padding-bottom: 1rem;
}

.logo-img {
    padding: 2rem 10px 2rem 5px;
    height: 60%;
    width: 7rem;
}

.logo-info {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a img {
    margin: .3rem;
    height: 40px;
}

button {
    background: none;
    border: none;
}

button span {
    color: #0B7AB8;
    font-size: 2rem;
}

nav {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
}

.active {
    color: #f0ede7;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
}

nav ul li {
    display: grid;
}

nav ul li a {
    height: 100%;
    width: 100%;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Georgia', sans-serif;
    align-self: center;
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
}

nav ul {
    display: none;
}

.open ul {
    display: block;
}

button.open :nth-child(1) {
    display: none;
}

button.open :nth-child(2) {
    display: block;
}

button :nth-child(2) {
    display: none;
}

#header-date {
    margin-top: 3rem;
    grid-column: 1/4;
    color: #46bb3b;
    text-align: center;
    height: 1rem;
    border: 1px solid white;
}

.placeholder-item {
    border: 1px solid gray;
    color: gray;
    height: 15rem;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.placeholder-spotlights {
    border: 1px solid gray;
    color: gray;
    height: fit-content;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.placeholder-spotlights:nth-child(3) {
    display: none;
}

.spotlight {
    border: 1px solid gray;
    height: 12rem;
}

.join {
    display: none;
}

footer {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #132c46;
    color: whitesmoke;
    align-items: center;
    text-align: center;
}

.first-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.second-half {
    font-family: 'Open Sans', monospace;
}

.footer-logo {
    padding: 0px;
}

hr {
    width: 90%;
}

nav ul li a:hover,
.social-links img:hover {
    color: #f1e8d4;
    background-color: #0B7AB8;
}

button span:hover {
    color: #f1e8d4;
}